@media (max-width: 1000px) {
    /* Default (hidden) */
    .sidebarList_c48ade {
        width: 0;
        min-width: 0;                                /* Prevents Discord from forcing a width.*/
    /* smooth animation */
    }
    .buttons__37e49 {
        display: none;                               /* Hide buttons by profile.*/
    }

    /* On hover of parent, expand */
    .sidebar_c48ade:hover .sidebarList_c48ade {
        width: 300px;                                /*Or whatever width you want.*/
        min-width: 100px;
    }  
    .sidebar_c48ade:hover .buttons__37e49 {
        display: contents;
    }
}

/* Smooth transition control */
.sidebarList_c48ade {
    overflow: hidden;                               /*Hides inner content while closed */
    transition: width 0.25s ease;                   /*Animation speed, and animation interpolation control.*/
}
