/**
 * @name Auto Hide Server List
 * @author JDoinkus
 * @version 1.3
 * @description A simple bit of CSS code that hides the channel list when the window is resized. The channel list will reappear when you hover your mouse over the server list.
 * @website https://github.com/JDoinkus/auto-hide-discord-channel-list
*/

/* When window is resized */
@media (max-width: 1000px) {

    /* Hide by default */
    [class^="sidebarList_"] {
        width: 0;
        min-width: 0;
    }
    .panel__5dec7,
    .wrapper_e131a9,
    [class^="buttons__"] {
        opacity: 0;
        pointer-events: none;
    }
    
    /* On hover, expand and reveal */
    [class^="sidebar_"]:hover [class^="sidebarList_"] {
        width: 300px;
        min-width: 100px;
    }
    [class^="sidebar_"]:hover .panel__5dec7,
    [class^="sidebar_"]:hover .wrapper_e131a9,
    [class^="sidebar_"]:hover [class^="buttons__"] {
        opacity: 1;
        pointer-events: auto;
    }

    /* Smooth transitions */
    [class^="sidebarList_"],
    .panel__5dec7,
    .wrapper_e131a9,
    [class^="buttons__"] {
        transition: width 0.25s ease, opacity 0.25s ease;   /*Animation speed, and animation interpolation control*/
        overflow: hidden;
        will-change: width, opacity;
    }
}
